<table border="1" cellpadding="0" cellspacing="0" width="100%"> 

        <!-- Header -->
                <thead> <img src="https://andresbarrones.com/"> </thead>

        <!--  -->
        <tr>
                <td style="padding: 20px 0 30px 0;"> Lorem ipsum dolor sit amet </td>
                <td> Row 3 </td>
        </tr>

</table>